* {
    box-sizing: border-box
}

/* Add padding to containers */
.container {
    padding: 16px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Full-width input fields */
input[type=text],
input[type=password],
input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.submitbtn {
    background-color: #006848;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
}

.submitbtn:hover {
    opacity: 0.9;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

table {
    table-layout: fixed;
    width: 100%;
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #006848;
    padding: 10px;
    text-align: left;
}

td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
}